# --- Backend ke liye ---
node_modules/
.env
npm-debug.log

# --- Frontend ke liye (Taki double upload na ho) ---
frontend/node_modules/
frontend/dist/
frontend/build/

# --- System Files ---
.DS_Store
