@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../public/bgImage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #2f2f2f;
    background-color: aliceblue;
}